.row {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

@media (max-width: 40em) {
    .row {
        gap: 0.5em;
        flex-direction: column;
        > * {
            flex-grow: 1;
            > * {
                width: 100%;
            }
        }
    }
}
